<a href="https://colab.research.google.com/github/aletbm/Hazardous_Asteroids_Predictions--CoderHouse/blob/main/Asteroids_Credit_Card_Approval__Reliance_Stock_RiosAlexanderDaniel_CoderHouse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# ‚òÑÔ∏è NASA JPL Asteroid Dataset

<img src="https://media.ambito.com/p/da6a05c9b05cb3047a4a7f5451d7a098/adjuntos/239/imagenes/040/635/0040635192/asteroidesjpg.jpg">

## üì£ Acerca del dataset

Este dataset fue elaborado por el Investigador en Astronomia y Astrofisica Mir Sakhawat Hossain, este dataset es mantenido oficialmente por el Laboratorio de Propulsion a Chorro (JPL por sus siglas en ingles) del Instituto Tecnologico de California la cual es una organizacion que se encuentra bajo la supervision de la NASA. Este dataset contiene varios tipos de datos relacionados con asteroides.

Este dataset puede ser utilizado en proyectos de Machine Learning para tareas tanto de clasificacion como de regresion.

### Definicion de columnas:

+ **id**: ID interno
+ **spkid**: ID principal
+ **fullname**: Designacion/Nombre completo del objeto
+ **pdes**: Designaci√≥n primaria de objeto
+ **name**: Nombre del objeto en la Union astronomica Internacional
+ **prefix**: Prefijo del cometa
+ **neo**: Objeto cercano a la tierra (Near-Earth Object) (Y/N)
+ **pha**: Asteroide potencialmente peligroso (Potencial Hazardous Asteroid) (Y/N)
+ **H**: Par√°metro de magnitud absoluta
+ **diameter**: Diametro del objeto (equivalente a una esfera) (km)
+ **albedo**: Albedo geom√©trico
+ **diameter_sigma**: Incertidumbre 1-sigma en el di√°metro del objeto (km)
+ **orbit_id**: ID de soluci√≥n de √≥rbita
+ **epoch**: √âpoca de osculaci√≥n en forma de d√≠a juliano (TBD)
+ **epoch_mjd**: √âpoca de osculaci√≥n en forma de d√≠a juliana modificada (TBD)
+ **epoch_cal**: √âpoca de osculaci√≥n en forma de fecha/hora del calendario (TBD)
+ **equinox**: Equinoccio de marco de referencia
+ **e**: Excentricidad
+ **a**: Semieje mayor (au)
+ **q**: Distancia del perihelio (au)
+ **i**: Inclinaci√≥n. Angulo con respecto al plano ecl√≠ptico x-y (deg)
+ **om**: Longitud del nodo ascendente (deg)
+ **w**: Argumento del perihelio (deg)
+ **ma**: Anomal√≠a media (deg)
+ **ad**: Distancia afelio (au)
+ **n**: Noci√≥n media (deg/d)
+ **tp**: Tiempo de paso del perihelio (TBD)
+ **tp_cal**: Tiempo de paso del perihelio en forma de fecha/hora del calendario (TBD)
+ **per**: Per√≠odo orbital sideral (d)
+ **per_y**: Per√≠odo orbital sideral (years)
+ **moid**: Distancia de intersecci√≥n de la √≥rbita m√≠nima de la Tierra (au)
+ **moid_ld**: Distancia de intersecci√≥n de la √≥rbita m√≠nima de la Tierra (LD)
+ **sigma_e**: Excentricidad (incertidumbre 1-sigma)
+ **sigma_a**: Semieje mayor (incertidumbre 1-sigma) (au)
+ **sigma_q**: Distancia del perihelio (incertidumbre 1-sigma) (au)
+ **sigma_i**: Inclinaci√≥n. Angulo con respecto al plano ecl√≠ptico x-y (incertidumbre 1-sigma) (deg)
+ **sigma_om**: Longitud del nodo ascendente (incertidumbre 1-sigma) (deg)
+ **sigma_w**: Argumento del perihelio (incertidumbre 1-sigma) (deg)
+ **sigma_ma**: Anomal√≠a media (incertidumbre 1-sigma) (deg)
+ **sigma_ad**: Distancia afelio (incertidumbre 1-sigma) (au)
+ **sigma_n**: Noci√≥n media (incertidumbre 1-sigma) (deg/d)
+ **sigma_tp**: Tiempo de paso del perihelio (incertidumbre 1-sigma) (TBD)
+ **sigma_per**: Per√≠odo orbital sideral (incertidumbre 1-sigma) (d)
+ **class**: Clasificaci√≥n de √≥rbita
+ **rms**: RMS de ajuste de √≥rbita normalizado (arcsec)

## üëÅÔ∏è Echando un vistazo al dataset

In [ ]:
df_asteroids = pd.read_csv("/content/drive/MyDrive/Coder/Data Science/asteroid_dataset.csv", engine='c', low_memory=False, index_col="id")
df_asteroids.head()

,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,albedo,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
id,,,,,,,,,,,,,,,,,,,,,
a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.40,939.400,0.0900,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.20,545.000,0.1010,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.33,246.596,0.2140,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.00,525.400,0.4228,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.90,106.699,0.2740,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191

In [ ]:
print(f'El dataset tiene {df_asteroids.shape[0]} registros y {df_asteroids.shape[1]} features.')

El dataset tiene 958524 registros y 44 features.

In [ ]:
df_asteroids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 958524 entries, a0000001 to bT3S2678
Data columns (total 44 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   spkid           958524 non-null  int64
 1   full_name       958524 non-null  object
 2   pdes            958524 non-null  object
 3   name            22064 non-null   object
 4   prefix          18 non-null      object
 5   neo             958520 non-null  object
 6   pha             938603 non-null  object
 7   H               952261 non-null  float64
 8   diameter        136209 non-null  float64
 9   albedo          135103 non-null  float64
 10  diameter_sigma  136081 non-null  float64
 11  orbit_id        958524 non-null  object
 12  epoch           958524 non-null  float64
 13  epoch_mjd       958524 non-null  int64
 14  epoch_cal       958524 non-null  float64
 15  equinox         958524 non-null  object
 16  e               958524 non-null  float64
 17  a               958524 non-null  float64
 18  q               958524 non-null  float64
 19  i               958524 non-null  float64
 20  om              958524 non-null  float64
 21  w               958524 non-null  float64
 22  ma              958523 non-null  float64
 23  ad              958520 non-null  float64
 24  n               958524 non-null  float64
 25  tp              958524 non-null  float64
 26  tp_cal          958524 non-null  float64
 27  per             958520 non-null  float64
 28  per_y           958523 non-null  float64
 29  moid            938603 non-null  float64
 30  moid_ld         958397 non-null  float64
 31  sigma_e         938602 non-null  float64
 32  sigma_a         938602 non-null  float64
 33  sigma_q         938602 non-null  float64
 34  sigma_i         938602 non-null  float64
 35  sigma_om        938602 non-null  float64
 36  sigma_w         938602 non-null  float64
 37  sigma_ma        938602 non-null  float64
 38  sigma_ad        938598 non-null  float64
 39  sigma_n         938602 non-null  float64
 40  sigma_tp        938602 non-null  float64
 41  sigma_per       938598 non-null  float64
 42  class           958524 non-null  object
 43  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(9)
memory usage: 329.1+ MB

Analisis de regresi√≥n:

Como analisis de regresion planteo predecir el diametro de un posible asteroide en base a variables tales como su **excentricidad**, su **magnitud absoluta**, su **albedo geometrico** y si es o no **potencialmente peligroso**.

Analisis de clasificaci√≥n:

Como analisis de clasificacion planteo diferencia aquellos **asteroides potencialmente peligrosos** de lo que no lo son para la Tierra, apoyandonos en variables tales como **distancia del perihelio y afelio**, el **periodo orbital sideral**, la **distancia de intersecci√≥n de la √≥rbita m√≠nima de la Tierra** o la **longitud del nodo ascendente**.

# üí≥ Credit Card Approval Prediction

<img src="https://www.forbes.com/advisor/wp-content/uploads/2022/07/credit_cards.jpeg-1-1-900x510.jpg">

## üì£ Acerca del dataset

Las puntuacion de tarjetas de cr√©dito son un m√©todo com√∫n de control de riesgos en la industria financiera. Utiliza la informaci√≥n personal y los datos presentados por los solicitantes de tarjetas de cr√©dito para predecir la probabilidad de futuros incumplimientos y pr√©stamos de tarjetas de cr√©dito. El banco puede decidir si emite una tarjeta de cr√©dito al solicitante. Los puntajes de cr√©dito pueden cuantificar objetivamente la magnitud del riesgo.

Este dataset puede ser utlizado en proyectos de Machine Learning para tareas de clasificacion entre cliente **bueno** o **malo**.

### Definicion de columnas:

El archivo *application_record.csv* contiene informaci√≥n personal de los clientes, que podr√≠a usar como caracter√≠sticas para predecir:

+ **ID**:	Numero de cliente
+ **CODE_GENDER**:	Genero
+ **FLAG_OWN_CAR**:	Posee auto
+ **FLAG_OWN_REALTY**: Posee propiedad inmobiliaria
+ **CNT_CHILDREN**: Cantidad de hijos
+ **AMT_INCOME_TOTAL**: Sueldo anual
+ **NAME_INCOME_TYPE**: Categoria de ingresos
+ **NAME_EDUCATION_TYPE**: Nivel de education
+ **NAME_FAMILY_STATUS**: Estado marital
+ **NAME_HOUSING_TYPE**: Modo de vida
+ **DAYS_BIRTH**: Cumplea√±os. Cuenta hacia atr√°s desde el d√≠a actual (0), -1 significa ayer
+ **DAYS_EMPLOYED**: Fecha de inicio del empleo. Contar hacia atr√°s desde el d√≠a actual (0). Si es positivo, significa la persona actualmente desempleada.
+ **FLAG_MOBIL**: Posee telefono movil
+ **FLAG_WORK_PHONE**: Posee telefono movil laboral
+ **FLAG_PHONE**: Posee telefono
+ **FLAG_EMAIL**: Posee email
+ **OCCUPATION_TYPE**: Ocupaci√≥n
+ **CNT_FAM_MEMBERS**: Tama√±o familiar

El archivo *credit_record.csv* registra los comportamientos de los usuarios de la tarjeta de cr√©dito.:

+ **ID**: Numero de cliente
+ **MONTHS_BALANCE**: Mes r√©cord.	El mes de los datos extra√≠dos es el punto de partida, al rev√©s, 0 es el mes actual, -1 es el mes anterior, etc.
+ **STATUS**: Estado.	0: 1-29 d√≠as de atraso 1: 30-59 d√≠as de atraso 2: 60-89 d√≠as de atraso 3: 90-119 d√≠as de atraso 4: 120-149 d√≠as de atraso 5: Deudas atrasadas o incobrables, canceladas por m√°s de 150 d√≠as C: pagado ese mes X: No hay pr√©stamo para el mes

## üëÅÔ∏è Echando un vistazo al dataset

In [ ]:
df_user_info = pd.read_csv("/content/drive/MyDrive/Coder/Data Science/Credit Card Approval Prediction/application_record.csv", engine='c', index_col="ID")
df_user_info.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
ID,,,,,,,,,,,,,,,,,
5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [ ]:
df_user_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438557 entries, 5008804 to 6842885
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CODE_GENDER          438557 non-null  object
 1   FLAG_OWN_CAR         438557 non-null  object
 2   FLAG_OWN_REALTY      438557 non-null  object
 3   CNT_CHILDREN         438557 non-null  int64
 4   AMT_INCOME_TOTAL     438557 non-null  float64
 5   NAME_INCOME_TYPE     438557 non-null  object
 6   NAME_EDUCATION_TYPE  438557 non-null  object
 7   NAME_FAMILY_STATUS   438557 non-null  object
 8   NAME_HOUSING_TYPE    438557 non-null  object
 9   DAYS_BIRTH           438557 non-null  int64
 10  DAYS_EMPLOYED        438557 non-null  int64
 11  FLAG_MOBIL           438557 non-null  int64
 12  FLAG_WORK_PHONE      438557 non-null  int64
 13  FLAG_PHONE           438557 non-null  int64
 14  FLAG_EMAIL           438557 non-null  int64
 15  OCCUPATION_TYPE      304354 non-null  object
 16  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(7), object(8)
memory usage: 60.2+ MB

In [ ]:
df_credit_record = pd.read_csv("/content/drive/MyDrive/Coder/Data Science/Credit Card Approval Prediction/credit_record.csv", engine='c', index_col="ID")
df_credit_record.head()

         MONTHS_BALANCE STATUS
ID
5001711               0      X
5001711              -1      0
5001711              -2      0
5001711              -3      0
5001712               0      C

In [ ]:
df_credit_record.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 5001711 to 5150487
Data columns (total 2 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   MONTHS_BALANCE  1048575 non-null  int64
 1   STATUS          1048575 non-null  object
dtypes: int64(1), object(1)
memory usage: 24.0+ MB

In [ ]:
print(f'El dataset tiene {df_user_info.shape[0]} registros y {df_user_info.shape[1] + df_user_info.shape[1]} features.')

El dataset tiene 438557 registros y 34 features.

# üíº Reliance Stock Price Dataset

<img src="https://www.nextinbeautymag.com/uploads/s1/17/29/relaince-industries-1.jpeg">

## üì£ Acerca del dataset

Un conjunto de datos que contiene los precios de las acciones de Reliance desde 1996 hasta 2020. Contiene el volumen, la facturaci√≥n, los precios de apertura, m√°ximos, m√≠nimos y de cierre de las acciones.

Este conjunto de datos est√° destinado a usarse para predecir los precios de las acciones en el futuro.

### Definicion de columnas

+ **Date**: Fecha
+ **Symbol**: Reliance
+ **Series**: Equidad
+ **Prev Close**: Precio de cierre del d√≠a anterior
+ **Open**: Precio de apertura en un d√≠a
+ **High**: Precio m√°s alto alcanzado en un d√≠a
+ **Low**: Precio m√°s bajo en un d√≠a
+ **Last**: Precio que se calcul√≥ por √∫ltima vez
+ **Close**: Precio de cierre en un d√≠a
+ **VWAP**: Precio medio ponderado por volumen
+ **Volume**: N√∫mero de existencias
+ **Turnover**: Gasto de reemplazar a las personas que dejan una organizaci√≥n durante un per√≠odo espec√≠fico
+ **Trades**: Compras y ventas
+ **Deliverable Volume**: Volumen de entrega
+ **%Deliverble**: Porcentaje de entrega

## üëÅÔ∏è Echando un vistazo al dataset

In [ ]:
df_reliance = pd.read_csv("/content/drive/MyDrive/Coder/Data Science/reliance_stock_price_dataset.csv", engine='c')
df_reliance.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,01-01-1996,RELIANCE,EQ,204.65,205.00,206.10,203.65,NaN,205.75,205.26,3717450,7.630000e+13,NaN,NaN,NaN
1,02-01-1996,RELIANCE,EQ,205.75,205.25,206.25,202.65,NaN,204.15,204.13,6024650,1.230000e+14,NaN,NaN,NaN
2,03-01-1996,RELIANCE,EQ,204.15,207.50,216.95,205.25,NaN,205.70,207.04,7473500,1.550000e+14,NaN,NaN,NaN
3,04-01-1996,RELIANCE,EQ,205.70,203.75,204.40,201.05,NaN,203.80,202.47,7744000,1.570000e+14,NaN,NaN,NaN
4,05-01-1996,RELIANCE,EQ,203.80,203.00,203.00,200.65,NaN,202.40,202.05,5952000,1.200000e+14,NaN,NaN,NaN

In [ ]:
df_reliance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6205 entries, 0 to 6204
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                6205 non-null   object
 1   Symbol              6205 non-null   object
 2   Series              6205 non-null   object
 3   Prev Close          6205 non-null   float64
 4   Open                6205 non-null   float64
 5   High                6205 non-null   float64
 6   Low                 6205 non-null   float64
 7   Last                5657 non-null   float64
 8   Close               6205 non-null   float64
 9   VWAP                6205 non-null   float64
 10  Volume              6205 non-null   int64
 11  Turnover            6205 non-null   float64
 12  Trades              2356 non-null   float64
 13  Deliverable Volume  4693 non-null   float64
 14  %Deliverble         4693 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 727.3+ KB

In [ ]:
print(f'El dataset tiene {df_reliance.shape[0]} registros y {df_reliance.shape[1]} features.')

El dataset tiene 6205 registros y 15 features.